/* html, body{
    margin: 0;
    padding: 0;
    text-align: center;
  } */
  
  h1, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .section{
    padding: 4rem 2rem;
  }
  
  .section .error{
    font-size: 150px;
    color: #2b66aa;
    text-shadow: 
      1px 1px 1px #1c3a66,    
      2px 2px 1px #1c3a66,
      3px 3px 1px #1c3a66,
      4px 4px 1px #1c3a66,
      5px 5px 1px #1c3a66,
      6px 6px 1px #1c3a66,
      7px 7px 1px #1c3a66,
      8px 8px 1px #1c3a66,
      25px 25px 8px rgba(0,0,0, 0.2);
  }
  
  .page{
    margin: 3rem 0;
    font-size: 20px;
    font-weight: 600;
    color: #444;
  }
  
  .back-home{
    display: inline-block;
    border: 2px solid #008060;
    color: #008060;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.75rem 4rem 0.6rem;
    background-color: #ffffff;
    transition: all 0.2s linear;
    box-shadow: 0 3px 8px rgba(0,0,0, 0.3);
  }
  .back-home:hover{
    background: #008060;
    color: #ddd;
  }